body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f6f8fa;
  display: flex;
  justify-content: center;
}

.app-container {
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(245, 240, 240, 0.897);
  color: #e4e2e2;
}

h1 {
  text-align: center;
  color: #2b6777;
  margin-bottom: 25px;
  text-decoration: underline;
  font-size: 2rem;
}

form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input,
select,
button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #52ab98;
  box-shadow: 0 0 6px #c8ede2;
}


button {
  background-color: #52ab98;
  color: #ffffff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #2b6777;
}

button + button {
  margin-top: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #fafafa;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #7c99ac;
  color: white;
  font-weight: 600;
}

tr:hover {
  background-color: #f1f1f1;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
